<div class="row" ng-controller="ExpoCtrl">
  <div class="col-md-6 col-md-offset-3">
    <center><h1>Books</h1></center>
    <form class="form-horizontal" ng-submit="addBook()">
	    <div class="input-group">
			  <input type="text" class="form-control" ng-model="book_title" required>
			  <span class="input-group-btn">
			    <input type="submit" class="btn btn-default" value="Ekle">
			  </span>
			</div>
		</form>
		<table class="table table-striped table-condensed">
		  <thead>
		    <tr>
		      <th>Başlık</th>
		      <th>Like</th>
          <th colspan="2">İşlemler</th>
		    </tr>
		  </thead>
		  <tbody>
			  <tr ng-repeat="book in books">
          <td><%= link_to "{{book.title}}", book_path("{{book.id}}") %></td>
          <td>{{book.like}}</td>
          <td>
            <%= link_to "Like", '', 'ng-click' => "likeBook($index)", value:"like", class:"btn btn-success btn-xs" %>
            <%= link_to "Dislike", '', 'ng-click' => "dislikeBook($index)", value:"dislike", class:"btn btn-danger btn-xs" %>
            <%= link_to "Remove", '','ng-click' => "deleteBook($index)", value:"remove", class:"btn btn-warning btn-xs" %>
          </td>
        </tr>
      </tbody>
		</table>
  </div>
</div>
